@import "src/mixins";

.container {
  @include mainWidget;
}

.panelsBlock {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.panelLeft {
  width: 45%;
}

.panelRight {
  width: 54%;
}

.topPanelBlock {
  display: flex;
  justify-content: space-between;
}

.filters {
  display: flex;
  gap: 1rem;
}