.sideNavContainer {
  //width: 234px; Как будто это и не надо
  box-shadow: 0 2px 4px rgba(126, 142, 177, .12);
}

.sideItem {
  font-size: 15px;
  font-weight: 400;
}

.sideNav {
  background-color: #fff;
}

.sideBody {
  border-radius: 5px;
  //background-color: #fff;
  //width: 234px;
}

.sideItemActive {
  //background-color: #fff9f6 !important;
  //color: #FF8200 !important;
  background-color: #d1dbe4 !important;
  color: #194a7a !important;
}

.sideDisable {
  background-color: #fff9f6;
  color: black;
}

.icon {
  color: #FF8200;
}
