.sideNavContainer {
  //width: 234px; Как будто это и не надо
  box-shadow: 0 2px 4px rgba(126, 142, 177, .12);
}

.sideItem {
  font-size: 15px;
  font-weight: 400;
}

.sideNav {
  background-color: #fff;
}

.sideBody {
  background-color: #fff;
  width: 234px;
}