.slider {
  width: 100%;
  overflow: hidden;
}

.sliderContent {
  display: flex;
  gap: 3rem;
  width: 139%;
  animation: marquee 20s linear infinite;
  animation-delay: 0s;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-40%);
  }
}